.section_flight {
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, #0e7476 0%, #06ba70 100%);
}

.cols {
	padding: 40px;
	margin: 20px;
	margin-top: 0;
	padding-top: 0;
}

p, .c9, .c10, .c7, .c3 {
	color:white;
	margin: 10px;
}

h1, h2 {
	color: white;
	font-family: "Calibri";
}

.lang {
	float: right;
}

.selected {
	color: gray;
}